<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль | Stock Tracker</title>
    <!-- <link rel="stylesheet" href="../css/style.min.css">  -->
</head>
<body>
    <div class="stock-tracker-page stock-tracker-page--dark">
        <div class="left-panel">
            <div class="left-panel__container">
                <div class="left-panel__row">
                    <nav class="website-menu left-panel__website-menu">
                        <ul class="website-menu__list">
                            <li class="website-menu__item">
                                <a class="website-menu__link" href="profile.html">
                                    <svg class="website-menu__img website-menu__img--color-white noselect">
                                        <image href="../images/profile--grey.svg" height="100%" width="100%" alt=""/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="left-panel__row">
                    <div class="settings left-panel__settings">
                        <a class="settings__link" href="in-development.html">
                            <svg class="settings__img settings__img--color-white noselect">
                                <image href="../images/settings--grey.svg" height="100%" width="100%" alt=""/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="main-panel__container">
                <div class="main-panel__row">
                    <div class="main-panel-header">
                        <div class="main-panel-header__headline">
                            Профиль
                        </div>
                        <hr class="main-panel-header__hr">
                    </div>
                </div>
                <div class="main-panel__row">
                    <div class="main-panel-category account main-panel-category--account">
                        <div class="account__row account__row--username">
                            <div class="account__row-label account__row-label--username">Имя пользователя:</div>
                            <div class="account__row-value account__row-value--username">CoolMetalDude377</div>
                        </div>
                        <div class="account__row account__row--email">
                            <div class="account__row-label account__row-label--email">Email:</div>
                            <div class="account__row-value account__row-value--email">coolmetaldude377@rambler.ru</div>
                        </div>
                        <a class="account__row account__row--password" href="change-password.html">
                            Сменить пароль
                        </a>
                        <a class="logout-button" href="settings.html">Выйти из аккаунта</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="right-panel">
            <div class="right-panel__container">
                <div class="right-panel__row">

                </div>
                <div class="right-panel__row">
                    
                </div>
            </div>
        </div> -->
    </div>
</body>
</html>