$color-black:                 #020b10;
$color-grey:                  #222629;
$color-middle-grey:           #474b4f;
$color-light-grey:            #6b6e70;
$color-white:                 #fcfcfc;

$color-blue:                  #0466c8;
$color-blue-darker:           #023e7d;
$color-cobalt:                #002855;
$color-black-blue:            #001845;

$color-red:                   #c1121f;
$color-red-darker:            #780000;


$font-size:                   18px;
$font-size--h1:               96px;
$font-size--h2:               64px;
$font-size--h3:               48px;
$font-size--h4:               36px;
$font-size--h5:               28px;
$font-size--h6:               22px;

$line-height-1:               1.5em;
$line-height-2:               1.25em;
 
$font-family-1:               "Arial", sans-serif;
$font-family-2:               "Georgia";
