.footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    
    background-color: $color-light-blue;

    &__container {
        width: 60%;
        height: 100%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
